In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [6]:
df=pd.read_csv('HR Employee Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [4]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [5]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
df.shape

(1470, 35)

In [8]:
def Information (df) :
    df.replace('?' , np.nan , inplace = True )
    nulls = (df.shape[0] - df.dropna(axis = 0).shape[0])
    nulls_per = (df.shape[0] - df.dropna(axis = 0).shape[0]) / df.shape[0]
    dup , dup_per = df.duplicated().sum() , (df.duplicated().sum()) / df.shape[0]
    numerical_columns = list((df.select_dtypes(include=np.number)).columns)
    categorical_columns = list(df.select_dtypes(include = ['object']).columns)
    numerical_col_dict = {}
    for col in numerical_columns :
        if df[col].nunique() > 10 :
            numerical_col_dict[col] = 'Continuous'

        else :
            numerical_col_dict[col] = 'Discrete'
    categorical_col_dict = {}
    for col in categorical_columns :
        if df[col].nunique() > 10 :
            categorical_col_dict[col] = 'Continuous'

        else :
            categorical_col_dict[col] = 'Classes'
    x = []
    for col in df.columns :
        x.append([col , df[col].unique() ,df[col].nunique(),df[col].dtype,df[col].isna().sum(),int((df[col].isna().sum())/df.shape[0] * 100)  ])

    x = pd.DataFrame(x ,columns=['Feature','Unique_Values','No.OfUniqueValues','DataType','NoOfNulls','Nulls %'])

    print('\n','There is : {}  Nulls, Representing {} % of The Data'.format(nulls , '%.2f'%nulls_per ))
    print('\n','There is : {}  Duplicated, Representing {} % of The Data'.format(dup , '%.2f'%dup_per))
    print('\n','Numerical Columns : {}'.format(numerical_col_dict))
    print('\n','Categorical Columns : {}'.format(categorical_col_dict))

    return x
Information(df)

 There is : 0  Nulls, Representing 0.00 % of The Data

 There is : 0  Duplicated, Representing 0.00 % of The Data

 Numerical Columns : {'Age': 'Continuous', 'DailyRate': 'Continuous', 'DistanceFromHome': 'Continuous', 'Education': 'Discrete', 'EmployeeCount': 'Discrete', 'EmployeeNumber': 'Continuous', 'EnvironmentSatisfaction': 'Discrete', 'HourlyRate': 'Continuous', 'JobInvolvement': 'Discrete', 'JobLevel': 'Discrete', 'JobSatisfaction': 'Discrete', 'MonthlyIncome': 'Continuous', 'MonthlyRate': 'Continuous', 'NumCompaniesWorked': 'Discrete', 'PercentSalaryHike': 'Continuous', 'PerformanceRating': 'Discrete', 'RelationshipSatisfaction': 'Discrete', 'StandardHours': 'Discrete', 'StockOptionLevel': 'Discrete', 'TotalWorkingYears': 'Continuous', 'TrainingTimesLastYear': 'Discrete', 'WorkLifeBalance': 'Discrete', 'YearsAtCompany': 'Continuous', 'YearsInCurrentRole': 'Continuous', 'YearsSinceLastPromotion': 'Continuous', 'YearsWithCurrManager': 'Continuous'}

 Categorical Columns : {'Attrition': 'Classes', 'BusinessTravel': 'Classes', 'Department': 'Classes', 'EducationField': 'Classes', 'Gender': 'Classes', 'JobRole': 'Classes', 'MaritalStatus': 'Classes', 'Over18': 'Classes', 'OverTime': 'Classes'}

,Feature,Unique_Values,No.OfUniqueValues,DataType,NoOfNulls,Nulls %
0,Age,"[41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35, 2...",43,int64,0,0
1,Attrition,"[Yes, No]",2,object,0,0
2,BusinessTravel,"[Travel_Rarely, Travel_Frequently, Non-Travel]",3,object,0,0
3,DailyRate,"[1102, 279, 1373, 1392, 591, 1005, 1324, 1358,...",886,int64,0,0
4,Department,"[Sales, Research & Development, Human Resources]",3,object,0,0
5,DistanceFromHome,"[1, 8, 2, 3, 24, 23, 27, 16, 15, 26, 19, 21, 5...",29,int64,0,0
6,Education,"[2, 1, 4, 3, 5]",5,int64,0,0
7,EducationField,"[Life Sciences, Other, Medical, Marketing, Tec...",6,object,0,0
8,EmployeeCount,[1],1,int64,0,0
9,EmployeeNumber,"[1, 2, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16,...",1470,int64,0,0
10,EnvironmentSatisfaction,"[2, 3, 4, 1]",4,int64,0,0
11,Gender,"[Female, Male]",2,object,0,0
12,HourlyRate,"[94, 61, 92, 56, 40, 79, 81, 67, 44, 84, 49, 3...",71,int64,0,0
13,JobInvolvement,"[3, 2, 4, 1]",4,int64,0,0
14,JobLevel,"[2, 1, 3, 4, 5]",5,int64,0,0
15,JobRole,"[Sales Executive, Research Scientist, Laborato...",9,object,0,0
16,JobSatisfaction,"[4, 2, 3, 1]",4,int64,0,0
17,MaritalStatus,"[Single, Married, Divorced]",3,object,0,0
18,MonthlyIncome,"[5993, 5130, 2090, 2909, 3468, 3068, 2670, 269...",1349,int64,0,0
19,MonthlyRate,"[19479, 24907, 2396, 23159, 16632, 11864, 9964...",1427,int64,0,0
20,NumCompaniesWorked,"[8, 1, 6, 9, 0, 4, 5, 2, 7, 3]",10,int64,0,0
21,Over18,[Y],1,object,0,0
22,OverTime,"[Yes, No]",2,object,0,0
23,PercentSalaryHike,"[11, 23, 15, 12, 13, 20, 22, 21, 17, 14, 16, 1...",15,int64,0,0
24,PerformanceRating,"[3, 4]",2,int64,0,0
25,RelationshipSatisfaction,"[1, 4, 2, 3]",4,int64,0,0
26,StandardHours,[80],1,int64,0,0
27,StockOptionLevel,"[0, 1, 3, 2]",4,int64,0,0
28,TotalWorkingYears,"[8, 10, 7, 6, 12, 1, 17, 5, 3, 31, 13, 0, 26, ...",40,int64,0,0
29,TrainingTimesLastYear,"[0, 3, 2, 5, 1, 4, 6]",7,int64,0,0
30,WorkLifeBalance,"[1, 3, 2, 4]",4,int64,0,0
31,YearsAtCompany,"[6, 10, 0, 8, 2, 7, 1, 9, 5, 4, 25, 3, 12, 14,...",37,int64,0,0
32,YearsInCurrentRole,"[4, 7, 0, 2, 5, 9, 8, 3, 6, 13, 1, 15, 14, 16,...",19,int64,0,0
33,YearsSinceLastPromotion,"[0, 1, 3, 2, 7, 4, 8, 6, 5, 15, 9, 13, 12, 10,...",16,int64,0,0
34,YearsWithCurrManager,"[5, 7, 0, 2, 6, 8, 3, 11, 17, 1, 4, 12, 9, 10,...",18,int64,0,0

In [12]:
df['YearsAtCompany'].unique()

array([ 6, 10,  0,  8,  2,  7,  1,  9,  5,  4, 25,  3, 12, 14, 22, 15, 27,
       21, 17, 11, 13, 37, 16, 20, 40, 24, 33, 19, 36, 18, 29, 31, 32, 34,
       26, 30, 23], dtype=int64)

In [13]:
columns_with_yes_no = [col for col in df.columns if df[col].isin(['Yes', 'No']).all()]

print("Columns with both 'Yes' and 'No':", columns_with_yes_no)

Columns with both 'Yes' and 'No': ['Attrition', 'OverTime']